{% extends "base.html" %} {% block head_title %}
<title>Confirmación de Registro</title> {% endblock head_title%} 
{% block main_h2 %}
<h2>Confirmación de Registro</h2>
{% endblock main_h2 %} {% block contiene_section %}
<h4>Últimos Clientes Registrados:</h4>
<div class='container'>
<div class='datos'>
<ul>
  {% for cliente in ultimos_clientes %}
  <li>
    Nombre: {{ cliente.nombre }}
    <button>
      <a href='{% url "eliminar_cliente" cliente.id %}'>Eliminar</a>
    </button>
    <button>
      <a href='{% url "detalle_cliente" cliente.id %}'>Detalle</a>
    </button>
  </li>
  <li>Dirección: {{ cliente.direccion }}</li>
  <li>Teléfono: {{ cliente.telefono }}</li>
  <li>Email: {{ cliente.email }}</li>
  <br />
  {% endfor %}
</ul>
</div>
</div>
<br/>

<h5>
  <i><b> Gracias por utilizar nuestro servicio</b></i>
</h5>
{% endblock contiene_section %}
