{% extends "base.html" %}
 {% block head_title %} <title>Nosotros</title> {%endblock head_title %}
 {% block main_h2%}
<div class='cont'>

  <h1 align="center">¿Quienes somos y a que nos dedicamos?</h1>
  <br />
{% endblock main_h2%} {% block contiene_section %}

  <h2 align="center">Sobre Nosotros</h2>
  <p>
  Somos un equipo comprometido con la salud y el bienestar, especializados en la
  dieta cetogénica, también conocida como keto. Nuestra misión es proporcionar
  información, recursos y apoyo para aquellos que buscan mejorar su salud a
  través de esta forma de alimentación única y eficaz.
  </p>

  <h2>¿Qué es la Dieta Cetogénica (Keto)?</h2>
  <div class="contenedor">
    <div class="imagen">
    <img
      src="https://img.freepik.com/foto-gratis/dieta-cetogenica-baja-carbohidratos-seleccion-alimentos-pared-blanca_155003-27734.jpg?w=740&t=st=1699914760~exp=1699915360~hmac=c0d216aacb8639325c732b4e3b7dc134648f733be5a56c15e785d0a9bc572145"
      alt="alimentacion cetogenica"
      style="max-width: 100%; height: auto;"
    />
  </div>
  <div class="texto">
   <p>
  La dieta cetogénica es un enfoque nutricional que se centra en la reducción de
  carbohidratos y el aumento de grasas saludables en la dieta. Al hacerlo, el
  cuerpo entra en un estado metabólico llamado cetosis, donde quema grasas para
  obtener energía en lugar de depender de carbohidratos.
</p>
<h5>Beneficios de la Dieta Cetogénica</h5>
<p>
  Adoptar un estilo de vida keto puede tener diversos beneficios, como la
  pérdida de peso, aumento de la energía, mejora de la claridad mental y
  estabilización de los niveles de azúcar en sangre. Además, algunos estudios
  sugieren que la dieta cetogénica puede tener efectos positivos en la salud
  cardiovascular y cerebral.
  Una dieta cetogénica es una manera efectiva de perder peso y disminuir los factores de riesgo en algunas enfermedades.

De hecho, las investigaciones demuestran que la dieta cetogénica supera a las dietas bajas en grasas que se suelen recomendar.

Es más, el objetivo de la dieta es que pueda perder peso sin contar calorías o realizar un seguimiento sobre la ingesta de las mismas.

Un estudio descubrió que las personas que siguen una dieta cetogénica pierden 2,2 veces más peso que aquellos que reducen las calorías y grasas. Los triglicéridos y los niveles de colesterol HDL también presentan una mejoría.

Otro estudio descubrió que las personas con dietas cetogénicas pierden 3 veces más peso que aquellas que siguen las tradicionales recomendadas por Diabetes UK (organización benéfica de Reino Unido).

</p>

  </div>
</div><br>


<h3 align=center>Nuestros Consejos Keto</h3><br>
<ul>
  <li>
    <strong>Alimentos Ricos en Grasas Saludables:</strong> Incluye aguacates,
    aceite de oliva, frutos secos y pescado graso en tu dieta.
  </li>
  <li>
    <strong>Control de Carbohidratos:</strong> Mantén un seguimiento de la
    ingesta de carbohidratos para mantener el cuerpo en estado de cetosis.
  </li>
  <li>
    <strong>Variedad de Proteínas:</strong> Incorpora fuentes de proteínas
    magras como carne, pescado y huevos.
  </li>
  <li>
    <strong>Hidratación:</strong> Bebe suficiente agua para mantener la
    hidratación, especialmente durante la adaptación a la cetosis.
  </li>
</ul>
<div class="contenedor">
  <div class="imagen">
    <img
      src='https://cdn.pixabay.com/photo/2018/03/13/18/30/food-3223286_1280.jpg'
      alt="alimentacion cetogenica"
      style="max-width: 100%; height: auto;"
    />
  </div>
  <div class="texto">
<h4>Por que elegir la Dieta Cetogénica, 5 puntos principales</h4>
<p>Pérdida de peso: La dieta cetogénica ha ganado popularidad como una estrategia efectiva para perder peso. Al reducir significativamente la ingesta de carbohidratos y aumentar la cantidad de grasas saludables, el cuerpo entra en un estado de cetosis, donde quema grasas para obtener energía en lugar de carbohidratos.

Control del azúcar en la sangre: Al limitar los carbohidratos, la dieta cetogénica puede ayudar a estabilizar los niveles de azúcar en la sangre, lo que es beneficioso para personas con diabetes tipo 2 o resistencia a la insulina.

Mejora de la salud cerebral: Se ha sugerido que la cetosis podría tener beneficios para la salud cerebral. Algunas personas informan una mayor claridad mental y concentración cuando siguen una dieta cetogénica. Además, se está investigando su posible aplicación en trastornos neurológicos como la epilepsia y la enfermedad de Alzheimer.

Control de los antojos y la saciedad: Al consumir grasas y proteínas en cantidades adecuadas, muchas personas encuentran que experimentan una sensación de saciedad más duradera, lo que puede ayudar a reducir los antojos y el consumo excesivo de alimentos.

Mejora de los niveles de energía: Algunas personas encuentran que la dieta cetogénica les proporciona niveles de energía más estables a lo largo del día, ya que evita los picos y caídas de azúcar en la sangre asociados con las dietas ricas en carbohidratos.

</p>
  </div>
</div><br>


{% endblock contiene_section %}
